<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head >

</head>

<body>

  <!-- Header -->
  <header id="header" class="header fixed-top d-flex align-items-center bg-black">
    <div class="d-flex align-items-center justify-content-between">
      <i class="bi bi-list toggle-sidebar-btn text-white"></i>
      <a th:href="@{/admin/}" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block text-white">Jimbung Industrial</span>
      </a>
    </div>

    <!-- Navigation -->
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon text-white" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#">View all <span class="badge rounded-pill bg-primary p-2 ms-2"></span></a>
            </li>
            <li><hr class="dropdown-divider"/></li>
            <!-- Notifications content here -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon text-white" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-envelope"></i>
            <span class="badge bg-primary badge-number">3</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#">View all <span class="badge rounded-pill bg-primary p-2 ms-2"></span></a>
            </li>
            <li><hr class="dropdown-divider"/></li>
            <!-- Messages content here -->
          </ul>
        </li>
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img th:src="@{/assets/img/fira.jpg}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2 text-white">Fira</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Fira</h6>
              <span>Admin</span>
            </li>
            <li><hr class="dropdown-divider"/></li>
            <li>
              <a th:href="@{/admin/profil}" class="dropdown-item d-flex align-items-center">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li><hr class="dropdown-divider"/></li>
            <li>
              <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <!-- End Header -->

   <!-- ======= Sidebar ======= -->
   <div th:fragment="html_sidebar">
   <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " th:href="@{index.html}">
          <a th:href="@{/admin/}"><i class="bi bi-grid"></i><span>Dashboard</span></a>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <a th:href="@{/admin/pesanan}"><i class="bi bi-cart"></i><span>Pesanan</span></a>
        </a>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <a th:href="@{/admin/produk}"><i class="fa-solid fa-shirt"></i><span>Produk</span></a>
        </a>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <a th:href="@{/admin/pelanggan}"><i class="bi bi-people"></i><span>Pelanggan</span></a>
        </a>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <a th:href="@{/admin/artikel}"><i class="fa-solid fa-wand-magic-sparkles"></i><span>Artikel</span></a>
        </a>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <a th:href="@{/admin/cabang}"><i class="bx bxs-buildings"></i><span>Cabang</span></a>
        </a>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse"  href="#">
          <a th:href="@{/admin/profil}"><i class="bi bi-person"></i>
          <span>Profil</span></a>
        </a>
      </li><!-- End Profile Page Nav -->

    </ul>

  </aside>
  </div>
  <!-- End Sidebar-->

</body>

</html>