<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Rincian Produk</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/assets/img/jimbung.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <script src="https://kit.fontawesome.com/190d988d17.js" crossorigin="anonymous"></script>

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style.css}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Aug 30 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <!-- tambahan -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <div th:replace="admin/fragments/admin-nav :: header"></div>
  <div th:replace="admin/fragments/admin-nav :: nav"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Daftar Pesanan</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/admin/}">Home</a></li>
          <li class="breadcrumb-item"><a th:href="@{/admin/produk}">Produk</a></li>
          <li class="breadcrumb-item active">Rincian Produk</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
               <h5 class="card-title" style="display: inline-flex;">Rincian Produk</h5>

               <table class="table table-border">
                 <thead>
                   <tr>
                     <th scope="col">Produk</th>
                     <th scope="col">Rincian</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr>
                     <th scope="row"><b>Id</b></th>
                     <td><span th:text="${product.id}"></span></td>
                   </tr>
                   <tr>
                     <th scope="row"><b>Nama</b></th>
                     <td><span th:text="${product.name}"></span></td>
                   </tr>
                   <tr>
                    <th scope="row"><b>Kategori</b></th>
                    <td><span th:text="${product.category.name}"></span></td>
                  </tr>
                  <tr>
                    <th scope="row"><b>Subktegori</b></th>
                    <td><span th:text="${product.subcategory.name}"></span></td>
                  </tr>
                   <tr>
                     <th scope="row"><b>Ukuran </b></th>
                     <td>S, M, L, XL, XXL, XXXL</td>
                   </tr>
                   <tr>
                     <th scope="row"><b>Deskripsi</b></th>
                     <td><span th:text="${product.description}"></span></td>
                   </tr>
                   <tr>
                     <th scope="row"><b>Harga (start from)</b></th>
                     <td>Rp. <span th:text="${product.price}"></span></td>
                   </tr>
                   <tr>
                    <th scope="row"><b>Stock</b></th>
                    <td><span th:text="${product.stock}"></span></td>
                   </tr>
                   <tr>
                    <th scope="row"><b>Berat</b></th>
                    <td><span th:text="${product.weight}"> </span> Kg</td>
                  </tr>
                   <tr>
                     <th scope="row"><b>Foto Produk</b></th>
                     <td>
                      <table>
                        <tbody>
                        <ul>
                            <!-- Loop through images -->
                            <li th:each="image : ${product.image}">
                              <img th:src="@{${image.url}}" alt="Product Image" width="200" />
                          </li>
                      </ul>
                        </tbody>
                      </table>
                     </td>
                   </tr>
                 </tbody>
               </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
      <span>
        <a th:href="@{/admin/edit-product/{id}(id=${product.id})}" class="btn btn-primary">Edit Produk</a>
        &nbsp;
        <a href="" class="btn btn-primary">Delete Produk</a>
      </span>
      
      
    </section>

  </main><!-- End #main -->

  <!-- Footer -->
  <footer id="footer" class="footer">
    <div class="credits">
      Designed by <a href="">Kelompok 5</a>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>

</body>

</html>