<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Update Announcement</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/assets/img/jimbung.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <script src="https://kit.fontawesome.com/190d988d17.js" crossorigin="anonymous"></script>

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style.css}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Aug 30 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <!-- tambahan -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <!-- Header -->
  <header id="header" class="header fixed-top d-flex align-items-center bg-black">
    <div class="d-flex align-items-center justify-content-between">
      <i class="bi bi-list toggle-sidebar-btn text-white"></i>
      <a th:href="@{/user/}" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block text-white">Jimbung Industrial</span>
      </a>
    </div>

    <!-- Navigation -->
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon text-white" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#">View all <span class="badge rounded-pill bg-primary p-2 ms-2"></span></a>
            </li>
            <li><hr class="dropdown-divider"/></li>
            <!-- Notifications content here -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon text-white" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-envelope"></i>
            <span class="badge bg-primary badge-number">3</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#">View all <span class="badge rounded-pill bg-primary p-2 ms-2"></span></a>
            </li>
            <li><hr class="dropdown-divider"/></li>
            <!-- Messages content here -->
          </ul>
        </li>
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img th:src="@{/assets/img/fira.jpg}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2 text-white">Fira</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Fira</h6>
              <span>Admin</span>
            </li>
            <li><hr class="dropdown-divider"/></li>
            <li>
              <a th:href="@{/user/profil}" class="dropdown-item d-flex align-items-center">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li><hr class="dropdown-divider"/></li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <!-- End Header -->

   <!-- ======= Sidebar ======= -->
   <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " th:href="@{index.html}">
          <a th:href="@{/user/}"><i class="bi bi-grid"></i><span>Dashboard</span></a>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <a th:href="@{/user/pesanan}"><i class="bi bi-cart"></i><span>Pesanan</span></a>
        </a>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <a th:href="@{/user/produk}"><i class="fa-solid fa-shirt"></i><span>Produk</span></a>
        </a>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <a th:href="@{/user/pelanggan}"><i class="bi bi-people"></i><span>Pelanggan</span></a>
        </a>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <a th:href="@{/user/artikel}"><i class="fa-solid fa-wand-magic-sparkles"></i><span>Artikel</span></a>
        </a>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <a th:href="@{/user/cabang}"><i class="bx bxs-buildings"></i><span>Cabang</span></a>
        </a>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse"  href="#">
          <a th:href="@{/user/profil}"><i class="bi bi-person"></i>
          <span>Profil</span></a>
        </a>
      </li><!-- End Profile Page Nav -->

    </ul>

  </aside>
  <!-- End Sidebar-->

 <main id="main" class="main">

  <div class="pagetitle">
    <h1>Tambah Announcement</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Announcement</li>
        <li class="breadcrumb-item active">Tambah</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Fill the Information</h5>

              <!-- Multi Columns Form -->
              <form class="row g-3" action="/user/saveAnnouncement" method="post" th:object="${announcement}">
                <div class="col-md-12">
                  <label for="announcementId" class="form-label">Announcement Id</label>
                  <input type="text" th:field="*{id}" class="form-control" id="announcementId" placeholder="Announcement Id" readonly>
                </div>
                <div class="col-md-12">
                  <label for="announcementName" class="form-label">Announcement Name</label>
                  <input type="text" th:field="*{title}" class="form-control" id="announcementName" placeholder="Announcement Name">
                </div>
                <div class="col-md-12">
                  <label for="announcementDesc" class="form-label">Announcement Description</label>
                  <input type="text" th:field="*{content}" class="form-control" id="announcementDesc" placeholder="Announcement Description">
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck" required>
                    <label class="form-check-label" for="gridCheck">
                      Check me out
                    </label>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Multi Columns Form -->
              <a th:href="@{/user/announcements}"> Back to Announcements </a>
            </div>
          </div>

        </div>
      </div>
  </div>
  </section>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
   <div class="credits">
     Designed by <a href="">Kelompok 5</a>
   </div>
 </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>

</body>

</html>